.card-modal__dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .card-modal__dialog {
        max-width: 500px;
        margin: 30px auto;
        /* для отображения модального окна по центру */
    }
}