.popup__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .popup__header {
        margin-bottom: 15px;
    }
}