.card-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.card-modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}